* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(galaxybackground.jpg);

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
}

aside {
  align-self: center;
}
button {
  height: 120px;
  width: 240px;

  border: none;
  border-radius: 9999px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: rgba(245, 245, 245, 0.35);

  background: linear-gradient(
    135deg,
    rgba(237, 103, 22, 0.86),
    rgba(91, 14, 94, 0.92)
  );
}
button:hover {
  filter: brightness(1.3);
}

main {
  align-self: center;

  display: grid;
  grid-template: var(--nbrRows) / var(--nbrColumns); /* Variables modifiées via javascript */

  background: linear-gradient(
    135deg,
    rgba(237, 103, 22, 0.92),
    rgba(91, 14, 94, 0.93)
  );
}

.wall,
.path,
.T,
.S {
  border: solid 1px rgba(95, 95, 95, 0.5);
  overflow: hidden;
}

.wall {
  background: rgba(10, 5, 15, 0.9);
}

.path {
  background: transparent;
}

.T {
  background-image: url(artworks-000465508302-g4nkpf-t500x500.jpg);
  background-size: cover;
}

.S {
  background: #570c51;
}

.player {
  height: 55px;
  width: 55px;
  border-radius: 100%;

  scale: 120%;

  background-image: url(jord-removebg-preview.png);
  /* background-image: url(jord.jpeg); */
  background-size: 150px;
  background-position: top;
  transform: scaleX(-1);
}
